parameters:
    level: 9
    ignoreErrors:
        -
            message: '#Call to an undefined method Predis\\Client::[a-zA-Z0-9\\_]+\(\)#'
            path: src/Cache/Engine/*
    paths:
        - src/
